#test1 {
    color: red
}

#test2 {
    color: rgb(43, 255, 0)
}

#test3 {
    color: rgb(77, 19, 202)
}

#test4 {
    color: rgb(181, 202, 19)
}

#test5 {
    color: rgb(28, 76, 80)
}
#test6{
    color:rgba(224, 4, 173, 0.75)
}